
@{
    ViewBag.Title = "List";
}
@section HeadContent {
    @Styles.Render("~/Content/Student")
    @Styles.Render("~/Content/css")

}
<h2>List</h2>

<div ng-app="studentApp" ng-controller="ListCtrl as vm">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>ClientName</th>
            <th>Description</th>
            <th>ClientEmail</th>
            <th>HourlyRate</th>
            <th>ProjectType</th>
        </tr>

        <tr ng-repeat="data in vm.clientList">

            <td>{{data.Id}}</td>
            <td>{{data.ClientName}}</td>
            <td>{{data.Description}}</td>
            <td>{{data.ClientEmail}}</td>
            <td>{{data.HourlyRate}}</td>
            <td>{{data.ProjectType}}</td>

            <td><md-button class="md-raised md-primary" ng-click="vm.UpdateClient(data.Id)" type="submit">Update</md-button></td>
            <td><md-button class="md-raised md-accent" ng-click="vm.DeleteClient(data.Id)" type="submit">Delete</md-button></td>
            @*<td><md-button class="md-raised md-success" ng-click="vm.ViewClient(data.Id)" type="submit">View</md-button></td>*@
        </tr>

    </table>



</div>

@Html.ActionLink("Back to Index", "Index")



@section scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/studentList")
}